
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text_center{
  text-align: center;
  
}

.text_center h1 {
  font-size: 4rem;
}

.text_center h2 {
  font-size: 2rem;
}